<!DOCTYPE html>
<html>
<head>
  <title>BesameMucho</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= metamagic :title => "Besame Mucho Clothes", :description => "Gana un saco Banana Republic", :keywords => %w(keyword1 keyword2 keyword3) %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>
